

body{
    
    background: rgb(3,2,31);
    background: linear-gradient(90deg, rgba(3,2,31,1) 0%, rgba(1,66,104,1) 60%, rgba(7,143,170,1) 100%);
}

h2 {
    color: white;
}

h4 {
    color: white;
}


img {
    max-width: 1300px;
}