{% extends 'layout.html' %}
{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- Video image  -->
      <div> 
          <img src="{{url.thumbnail_url}}" class="card-img" alt="{{url.title}}">
      </div>
    </div>
    <div class="col-md-4">

      <!--Video downloader-->
      <div>
        <h2 class="text-center mb-3">Youtube downloader</h2>
        <h4 class="text-center">{{ url.title }}</h4>
      </div>

        <!--Video Form-->
   
        <form method="POST" action="{{ url_for('download_video') }}">
          <select name="itag" class="form-select input-sm" aria-label="Default select example">
            <!--Calidad del video-->
            {% for i in url.streams.filter(progressive=True) %}
                <option value="{{ i.itag }}"> {{ i.resolution }}  ({{ i.filesize_mb }} MB)</option>
            {% endfor %}
          </select>
          
          <!-- Download button -->
            
            <div class="text-center">
              <button type="submit" class="btn btn-danger mt-3" href="{{ url_for('download_video') }}">
                Download video
              </button>
            </div>     
        </form>
        <!---->
    </div>

    <!--Audio downloader-->
    <div class="col-md-4">
        <h2 class="text-center">Audio downloader</h2>

        <!-- Audio Form -->
        <form method="POST" action="{{ url_for('download_audio') }}">
          <div class="card-text text-center">
            <button class="btn btn-warning mt-3" type="" href="{{ url_for('download_audio') }}">
              Download audio 
            </button>
          </div>
        </form>
        
        <!-- Home redirection button -->
        <div class="text-center mt-4">
          <a class="btn btn-info btn-block" href="{{url_for('home') }}">Home</a>
        </div>

    </div>
    </div>
    
  </div>
  </div>

</div>



  
{% endblock content %}