{% extends 'layout.html' %}

{% block content %}


<div class="container">
  <div class="row align-items-center">
    <h2 class="text-center">Playlist downloader</h2>

        <!--Audio downloader-->
        <div class="col-md-4 text-center">

          <h2>Playlist: {{ url.title }}</h2>
        </div>

        <div class="col-md-4 text-center"> 
          
          <!--  Audio Form -->
          
          <form method="POST" action="{{ url_for('playlist_download') }}">
            <div class="">
              <button id="descargar-playlist" class="btn btn-warning mt-3" type="" href="{{ url_for('playlist_download') }}">
                Download playlist 
              </button>
            </div>
          </form>

            <!-- Download another playlist button -->

            <div class="text-center mt-4">
              <a class="btn btn-info btn-block" href="{{url_for('playlist') }}">Descargar otra playlist</a>
            </div>
          
        </div>

  </div>
</div>


<div id="mensaje" class="container mt-4" style="display:none">
  <div class="row">
      <div class="col">
        <button class="btn btn-danger btn-lg" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Descargando playlist, por favor espere en la pagina, se descargara una carpeta con sus canciones..
        </button>
      </div>
  </div>
</div>

    
<script>
  // Obtiene el botón de descarga de audio
  var descargarAudioBtn = document.getElementById("descargar-playlist");
  // Agrega un manejador de evento al hacer clic en el botón
  descargarAudioBtn.addEventListener("click", function() {
    // Muestra el mensaje
    document.getElementById("mensaje").style.display = "block";
    // Realiza la descarga en segundo plano
    fetch("{{ url_for('playlist_download') }}", { method: "POST" })
      .then(function(response) {
        // Oculta el mensaje
        document.getElementById("mensaje").style.display = "none";
      });
  });
</script>

{% endblock content %}



